@import './assets/scss/variables';

html, #app{
    background-color: $background-color;
}

.loading__container {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.loading, .center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.form__content{
    width: 100%;
}