.book{
    display: inline-block;
    width: 230px;
    box-shadow: 0 0 20px #aaa;
    margin: 25px;
    padding: 10px 10px 0 10px;
    vertical-align: top;
    transition: height 1s;

    .delete__icon__container{
        text-align: right;
    }

    .cover {
        border: 2px solid gray;
        height: 286px;
        overflow: hidden;

        img{
            width: 100%;
        }
    }

    .description{
        margin-top: 12px;
        font-size: 12px;
        .title{
            font-size: 20px;
        }
    }

    .genre{
        text-transform: capitalize;
    }
}